<html>
	<head>
		<style>
				@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
					.item-summary{
						font-size: 10px
					}
					.body{
						font-size: 12px;font-family: 'Lato', sans-serif;
					}tr {
			page-break-inside: avoid !important;
			page-break-after: auto !important;
			}

			@media print { .tr {
			page-break-inside: avoid !important;
			-webkit-column-break-inside: avoid;
			break-inside: avoid;
			-webkit-region-break-inside: avoid;
			}}
		</style>
	</head>
	<body>
		<table cellpadding="0" cellspacing="0" align="center" style="font-family: 'Lato', sans-serif;font-size:12px;width:100%;border-bottom:1px solid #000">
			<tr>
				<td>
					<table cellpadding="10" cellspacing="0" style="font-family: 'Lato', sans-serif;font-size:12px;width:100%;table-layout:fixed">
						<tr>
							<td style="width:83%">
								<h2>PROJECT 38 design studio Inc.</h2>
								<span style="display:block">5450 Kaye Street, Unit TH13</span>
								<span style="display:block">Halifax,Nova Scotia B3K 0G7</span>
								<span style="display:block">www.project38design.com | HST - 755584489 RT0001</span>

							</td>
							<td style="width:17%;text-align:center">
								<div style="border:1px solid #000;display:inline-block;padding:10px" align="center">
									PROJECT 38<br/>
									<small>design studio</small>
								</div>
							</td>
						</tr>
						<tr>
							<td style="width:83%">
							</td>
							<td style="width:17%;text-align:center">02/26/2021</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td style="border-top:1px solid #000">
					<table cellpadding="10" cellspacing="0" style="font-family: 'Lato', sans-serif;font-size:12px;width:100%">
						<tr>
							<td valign="top">
								<table cellpadding="0" cellspacing="0" style="font-family: 'Lato', sans-serif;font-size:12px;width:100%">
									<tr>
										<td valign="top">
											<h3>VENDOR</h3>
											<span style="display:block">Metro Wallcovering</span>
											<span style="display:block">8100 Boul Decarie</span>
											<span style="display:block">Montreal, Quebec</span>
											<span style="display:block">H4P 2S8</span>
											<span style="display:block">Phone: 514-737-2388 (ext.7224)</span>
										</td>
										<td valign="top">
											<h3>SHIP TO</h3>
											<span style="display:block">Storage Inn</span>
											<span style="display:block">Project 38 Design Studio C/O Storage Inn</span>
											<span style="display:block">3490 Prescott St - Unit 1143</span>
											<span style="display:block">Halifax, Nova Scotia</span>
											<span style="display:block">B3K 4Y4</span>
											<span style="display:block">Phone: 902 476 0668</span>
										</td>
									</tr>
								</table>	
							</td>
							<td valign="top">
								<h3>PURCHASE ORDER</h3>
								PO-10130
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>	
					<table cellpadding="10" cellspacing="0" style="font-family: 'Lato', sans-serif;font-size:12px;width:100%;table-layout:fixed">
						<tr>
							<th valign="top" align="left" style="border-bottom:1px solid #000;width:40%">
								ITEM	
							</th>
							<th valign="top" style="border-bottom:1px solid #000;text-align:center">
								QTY
							</th>
							<th valign="top" style="border-bottom:1px solid #000;text-align:center">
								RATE
							</th>
							<th valign="top" style="border-bottom:1px solid #000;text-align:center">
								TOTAL
							</th>
						</tr>
						<tr>
							<td valign="top">
								<table cellpadding="0" cellspacing="0" style="font-family: 'Lato', sans-serif;font-size:12px;width:100%;table-layout:fixed;padding:0">
									<tr>
										<td style="width:25%">
											<img src="https://www.bitsarabia.com/wp-content/uploads/2021/07/logo.png" alt="" height="100" width="50" style="margin-right:20px"/>
										</td>
										<td style="width:75%">
											<h3 style="margin:0 0 15px;">MH Derby Shadow Wallcovering</h3>	
											<span style="display:block">Dimensions: 54" wide, 25.25" repeat</span>
											<span style="display:block">Color/Finish: Shadow</span>
											<span style="display:block">SKU: MAG1104</span>
										</td>
									</tr>
								</table>
							</td>
							<td valign="top" style="text-align:center">
								1
							</td>
							<td valign="top" style="text-align:center">
								$839.00
							</td>
							<td valign="top" style="text-align:center">
								$839.00
							</td>
						</tr>
					</table>
					<table cellpadding="0" cellspacing="0" align="center" style="font-family: 'Lato', sans-serif;font-size:12px;width:100%;">
			<tr>
				<td style="border-top:1px solid #000;border-bottom:1px solid #000">
					<table cellpadding="10" cellspacing="0" width="250" align="right">
						<tr>
							<td align="right"><b>SUBTOTAL</b></td>
							<td align="right">$839.00</td>
						</tr>
						<tr>
							<td align="right"><b>TAXES</b></td>
							<td align="right">$125.85</td>
						</tr>
						<tr style="font-size:18px">
							<td align="right"><b>TOTAL</b></td>
							<td align="right">$964.85</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>