<html>
	<head>
		<style>
				@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
					.item-summary{
						font-size: 10px
					}
					body{
						font-size: 12px;font-family: 'Lato', sans-serif;line-height:1.5;
					}tr {
			page-break-inside: avoid !important;
			page-break-after: auto !important;
			}

			@media print { .tr {
			page-break-inside: avoid !important;
			-webkit-column-break-inside: avoid;
			break-inside: avoid;
			-webkit-region-break-inside: avoid;
			}}
		</style>
	</head>
	<body>
		
		<table cellpadding="0" cellspacing="0" align="center" style="font-family: 'Lato', sans-serif;font-size:12px;width:100%;border-bottom:3px solid #808080">
			<tr>
				<td>
					<table cellpadding="10" cellspacing="0" style="font-family: 'Lato', sans-serif;font-size:12px;width:100%;table-layout:fixed">
						<tr>
							<td style="width:83%">
								<h2>Specifications</h2>
								<h1>The POINTE 3 bedrm</h1>
							</td>
							<td style="width:17%;text-align:center">
								<img src="{!! $company->logo_url !!}" alt="" style="max-width:100%" />
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<h2 style="font-family: 'Lato', sans-serif;color:#666">Living Room	</h2>
		<table cellpadding="10" cellspacing="0" style="font-family: 'Lato', sans-serif;font-size:12px;width:100%;table-layout:fixed;border-bottom:1px solid #eee; ">
            <tr>
				<td valign="top" style="width:18%">
					<img src="https://homedesign.pk/678-large_default/juliana-coffee-center-table-hd-cct-020.jpg" style="width:100px" />
				</td>
				<td valign="top" style="text-align:left;">
                    <span style="display:block"><b>NAME:</b> Allium Coffee Table</span>  
                    <span style="display:block"><b>AREA:</b> Living Room</span>  
                    <span style="display:block"><b>TYPE:</b> Furniture - Table</span> 
                    <span style="display:block"><b>MFG:</b> customfurniturela.com</span>  
                    <span style="display:block"><b>LEAD TIME:</b> 0 weeks</span>  
                    <span style="display:block"><b>FINISHES:</b> gray wash fir</span>                                                 
                </td>
                <td valign="top" style="text-align:left;"> 
                    <span style="display:block"><b>QTY:</b> 0 weeks</span>  
                    <span style="display:block"><b>EXT DESIGNER PRICE:</b> $0.00</span> 
                </td>
            </tr>
		</table>
		<table cellpadding="10" cellspacing="0" style="font-family: 'Lato', sans-serif;font-size:12px;width:100%;table-layout:fixed; border-bottom:1px solid #eee">
            <tr>
				<td valign="top" style="width:18%">
					<img src="https://homedesign.pk/678-large_default/juliana-coffee-center-table-hd-cct-020.jpg" style="width:100px" />
				</td>
				<td valign="top" style="text-align:left;">
                    <span style="display:block"><b>NAME:</b> Allium Coffee Table Base only</span>  
                    <span style="display:block"><b>AREA:</b> Living Room</span>  
                    <span style="display:block"><b>TYPE:</b> Accessory</span> 
                    <span style="display:block"><b>MFG:</b> customfurniturela.com</span>  
                    <span style="display:block"><b>LEAD TIME:</b> 0 weeks</span>  
                    <span style="display:block"><b>FINISHES:</b> without Top</span>                                                 
                </td>
                <td valign="top" style="text-align:left;"> 
                    <span style="display:block"><b>QTY:</b> 0 weeks</span>  
                    <span style="display:block"><b>EXT DESIGNER PRICE:</b> $0.00</span> 
                </td>
            </tr>
		</table>
		<table cellpadding="10" cellspacing="0" style="font-family: 'Lato', sans-serif;font-size:12px;width:100%;table-layout:fixed; border-bottom:1px solid #eee">
            <tr>
				<td valign="top" style="width:18%">
					<img src="https://homedesign.pk/678-large_default/juliana-coffee-center-table-hd-cct-020.jpg" style="width:100px" />
				</td>
				<td valign="top" style="text-align:left;">
                    <span style="display:block"><b>NAME:</b> 12 Pentagon side table</span>  
                    <span style="display:block"><b>AREA:</b> Living Room</span>  
                    <span style="display:block"><b>TYPE:</b> Accessory</span> 
                    <span style="display:block"><b>MFG:</b> customfurniturela.com</span>  
                    <span style="display:block"><b>LEAD TIME:</b> 0 weeks</span>  
                    <span style="display:block"><b>FINISHES:</b> steel</span>                                                 
                </td>
                <td valign="top" style="text-align:left;"> 
                    <span style="display:block"><b>QTY:</b> 0 weeks</span>  
                    <span style="display:block"><b>EXT DESIGNER PRICE:</b> $0.00</span> 
                </td>
            </tr>
		</table>
		<table cellpadding="10" cellspacing="0" style="font-family: 'Lato', sans-serif;font-size:12px;width:100%;table-layout:fixed; border-bottom:1px solid #eee">
            <tr>
				<td valign="top" style="width:18%">
					<img src="https://homedesign.pk/678-large_default/juliana-coffee-center-table-hd-cct-020.jpg" style="width:100px" />
				</td>
				<td valign="top" style="text-align:left;">
                    <span style="display:block"><b>NAME:</b> Maddox Desk</span>  
                    <span style="display:block"><b>AREA:</b> Living Room</span>  
                    <span style="display:block"><b>TYPE:</b> Furniture - Table</span> 
                    <span style="display:block"><b>MFG:</b> customfurniturela.com</span>  
                    <span style="display:block"><b>LEAD TIME:</b> 0 weeks</span>  
                    <span style="display:block"><b>FINISHES:</b> walnut wi steel base</span>                                                 
                </td>
                <td valign="top" style="text-align:left;"> 
                    <span style="display:block"><b>QTY:</b> 0 weeks</span>  
                    <span style="display:block"><b>EXT DESIGNER PRICE:</b> $0.00</span> 
                </td>
            </tr>
		</table>
		<h2 style="font-family: 'Lato', sans-serif;color:#666">Dining Room</h2>
		<table cellpadding="10" cellspacing="0" style="font-family: 'Lato', sans-serif;font-size:12px;width:100%;table-layout:fixed; border-bottom:1px solid #eee">
            <tr>
				<td valign="top" style="width:18%">
					<img src="https://homedesign.pk/678-large_default/juliana-coffee-center-table-hd-cct-020.jpg" style="width:100px" />
				</td>
				<td valign="top" style="text-align:left;">
                    <span style="display:block"><b>NAME:</b> Stellar Console</span>  
                    <span style="display:block"><b>AREA:</b> Dining Room</span>  
                    <span style="display:block"><b>TYPE:</b> Furniture - Console</span> 
                    <span style="display:block"><b>MFG:</b> customfurniturela.com</span>  
                    <span style="display:block"><b>LEAD TIME:</b> 0 weeks</span>                                                  
                </td>
                <td valign="top" style="text-align:left;"> 
                    <span style="display:block"><b>QTY:</b> 0 weeks</span>  
                    <span style="display:block"><b>EXT DESIGNER PRICE:</b> $0.00</span> 
                </td>
            </tr>
		</table>
		<table cellpadding="10" cellspacing="0" style="font-family: 'Lato', sans-serif;font-size:12px;width:100%;table-layout:fixed; border-bottom:1px solid #eee">
            <tr>
				<td valign="top" style="width:18%">
					<img src="https://homedesign.pk/678-large_default/juliana-coffee-center-table-hd-cct-020.jpg" style="width:100px" />
				</td>
				<td valign="top" style="text-align:left;">
                    <span style="display:block"><b>NAME:</b> Buttercup Dining Table</span>  
                    <span style="display:block"><b>AREA:</b> Dining Room</span>  
                    <span style="display:block"><b>TYPE:</b> Furniture - Table</span> 
                    <span style="display:block"><b>MFG:</b> customfurniturela.com</span>  
                    <span style="display:block"><b>LEAD TIME:</b> 0 weeks</span>                                                  
                </td>
                <td valign="top" style="text-align:left;"> 
                    <span style="display:block"><b>QTY:</b> 0 weeks</span>  
                    <span style="display:block"><b>EXT DESIGNER PRICE:</b> $0.00</span> 
                </td>
            </tr>
		</table>
		<table cellpadding="10" cellspacing="0" style="font-family: 'Lato', sans-serif;font-size:12px;width:100%;table-layout:fixed; border-bottom:1px solid #eee">
            <tr>
				<td valign="top" style="width:18%">
					<img src="https://homedesign.pk/678-large_default/juliana-coffee-center-table-hd-cct-020.jpg" style="width:100px" />
				</td>
				<td valign="top" style="text-align:left;">
                    <span style="display:block"><b>NAME:</b> Chevron Sideboard, Small</span>  
                    <span style="display:block"><b>AREA:</b> Dining Room</span>  
                    <span style="display:block"><b>TYPE:</b> Furniture - Console</span> 
                    <span style="display:block"><b>MFG:</b> customfurniturela.com</span>  
                    <span style="display:block"><b>LEAD TIME:</b> 0 weeks</span>   
                    <span style="display:block"><b>FINISHES:</b> doug fir/steel base grey wash wax</span>
                    <span style="display:block"><b>DESCRIPTION:</b> ENTRY?</span>                                                  
                </td>
                <td valign="top" style="text-align:left;"> 
                    <span style="display:block"><b>QTY:</b> 0 weeks</span>  
                    <span style="display:block"><b>EXT DESIGNER PRICE:</b> $0.00</span> 
                </td>
            </tr>
		</table>
		<table cellpadding="10" cellspacing="0" style="font-family: 'Lato', sans-serif;font-size:12px;width:100%;table-layout:fixed; border-bottom:1px solid #eee">
            <tr>
				<td valign="top" style="width:18%">
					<img src="https://homedesign.pk/678-large_default/juliana-coffee-center-table-hd-cct-020.jpg" style="width:100px" />
				</td>
				<td valign="top" style="text-align:left;">
                    <span style="display:block"><b>NAME:</b> Chevron Sideboard, Small</span>  
                    <span style="display:block"><b>AREA:</b> Dining Room</span>  
                    <span style="display:block"><b>TYPE:</b> Furniture - Console</span> 
                    <span style="display:block"><b>MFG:</b> customfurniturela.com</span>  
                    <span style="display:block"><b>LEAD TIME:</b> 0 weeks</span>   
                    <span style="display:block"><b>FINISHES:</b> doug fir/steel base grey wash wax</span>
                    <span style="display:block"><b>DESCRIPTION:</b> ENTRY?</span>                                                  
                </td>
                <td valign="top" style="text-align:left;"> 
                    <span style="display:block"><b>QTY:</b> 0 weeks</span>  
                    <span style="display:block"><b>EXT DESIGNER PRICE:</b> $0.00</span> 
                </td>
            </tr>
		</table>
		<table cellpadding="10" cellspacing="0" style="font-family: 'Lato', sans-serif;font-size:12px;width:100%;table-layout:fixed; border-bottom:1px solid #eee">
            <tr>
				<td valign="top" style="width:18%">
					<img src="https://homedesign.pk/678-large_default/juliana-coffee-center-table-hd-cct-020.jpg" style="width:100px" />
				</td>
				<td valign="top" style="text-align:left;">
                    <span style="display:block"><b>NAME:</b> Chevron Sideboard, Small</span>  
                    <span style="display:block"><b>AREA:</b> Dining Room</span>  
                    <span style="display:block"><b>TYPE:</b> Furniture - Console</span> 
                    <span style="display:block"><b>MFG:</b> customfurniturela.com</span>  
                    <span style="display:block"><b>LEAD TIME:</b> 0 weeks</span>   
                    <span style="display:block"><b>FINISHES:</b> doug fir/steel base grey wash wax</span>
                    <span style="display:block"><b>DESCRIPTION:</b> ENTRY?</span>                                                  
                </td>
                <td valign="top" style="text-align:left;"> 
                    <span style="display:block"><b>QTY:</b> 0 weeks</span>  
                    <span style="display:block"><b>EXT DESIGNER PRICE:</b> $0.00</span> 
                </td>
            </tr>
		</table>
		<table cellpadding="10" cellspacing="0" style="font-family: 'Lato', sans-serif;font-size:12px;width:100%;table-layout:fixed; border-bottom:1px solid #eee">
            <tr>
				<td valign="top" style="width:18%">
					<img src="https://homedesign.pk/678-large_default/juliana-coffee-center-table-hd-cct-020.jpg" style="width:100px" />
				</td>
				<td valign="top" style="text-align:left;">
                    <span style="display:block"><b>NAME:</b> Chevron Sideboard, Small</span>  
                    <span style="display:block"><b>AREA:</b> Dining Room</span>  
                    <span style="display:block"><b>TYPE:</b> Furniture - Console</span> 
                    <span style="display:block"><b>MFG:</b> customfurniturela.com</span>  
                    <span style="display:block"><b>LEAD TIME:</b> 0 weeks</span>   
                    <span style="display:block"><b>FINISHES:</b> doug fir/steel base grey wash wax</span>
                    <span style="display:block"><b>DESCRIPTION:</b> ENTRY?</span>                                                  
                </td>
                <td valign="top" style="text-align:left;"> 
                    <span style="display:block"><b>QTY:</b> 0 weeks</span>  
                    <span style="display:block"><b>EXT DESIGNER PRICE:</b> $0.00</span> 
                </td>
            </tr>
		</table>
		<table cellpadding="10" cellspacing="0" style="font-family: 'Lato', sans-serif;font-size:12px;width:100%;table-layout:fixed; border-bottom:1px solid #eee">
            <tr>
				<td valign="top" style="width:18%">
					<img src="https://homedesign.pk/678-large_default/juliana-coffee-center-table-hd-cct-020.jpg" style="width:100px" />
				</td>
				<td valign="top" style="text-align:left;">
                    <span style="display:block"><b>NAME:</b> Chevron Sideboard, Small</span>  
                    <span style="display:block"><b>AREA:</b> Dining Room</span>  
                    <span style="display:block"><b>TYPE:</b> Furniture - Console</span> 
                    <span style="display:block"><b>MFG:</b> customfurniturela.com</span>  
                    <span style="display:block"><b>LEAD TIME:</b> 0 weeks</span>   
                    <span style="display:block"><b>FINISHES:</b> doug fir/steel base grey wash wax</span>
                    <span style="display:block"><b>DESCRIPTION:</b> ENTRY?</span>                                                  
                </td>
                <td valign="top" style="text-align:left;"> 
                    <span style="display:block"><b>QTY:</b> 0 weeks</span>  
                    <span style="display:block"><b>EXT DESIGNER PRICE:</b> $0.00</span> 
                </td>
            </tr>
		</table>
		<table cellpadding="10" cellspacing="0" style="font-family: 'Lato', sans-serif;font-size:12px;width:100%;table-layout:fixed; border-bottom:1px solid #eee">
            <tr>
				<td valign="top" style="width:18%">
					<img src="https://homedesign.pk/678-large_default/juliana-coffee-center-table-hd-cct-020.jpg" style="width:100px" />
				</td>
				<td valign="top" style="text-align:left;">
                    <span style="display:block"><b>NAME:</b> Chevron Sideboard, Small</span>  
                    <span style="display:block"><b>AREA:</b> Dining Room</span>  
                    <span style="display:block"><b>TYPE:</b> Furniture - Console</span> 
                    <span style="display:block"><b>MFG:</b> customfurniturela.com</span>  
                    <span style="display:block"><b>LEAD TIME:</b> 0 weeks</span>   
                    <span style="display:block"><b>FINISHES:</b> doug fir/steel base grey wash wax</span>
                    <span style="display:block"><b>DESCRIPTION:</b> ENTRY?</span>                                                  
                </td>
                <td valign="top" style="text-align:left;"> 
                    <span style="display:block"><b>QTY:</b> 0 weeks</span>  
                    <span style="display:block"><b>EXT DESIGNER PRICE:</b> $0.00</span> 
                </td>
            </tr>
		</table>
		<table cellpadding="10" cellspacing="0" style="font-family: 'Lato', sans-serif;font-size:12px;width:100%;table-layout:fixed; border-bottom:1px solid #eee">
            <tr>
				<td valign="top" style="width:18%">
					<img src="https://homedesign.pk/678-large_default/juliana-coffee-center-table-hd-cct-020.jpg" style="width:100px" />
				</td>
				<td valign="top" style="text-align:left;">
                    <span style="display:block"><b>NAME:</b> Chevron Sideboard, Small</span>  
                    <span style="display:block"><b>AREA:</b> Dining Room</span>  
                    <span style="display:block"><b>TYPE:</b> Furniture - Console</span> 
                    <span style="display:block"><b>MFG:</b> customfurniturela.com</span>  
                    <span style="display:block"><b>LEAD TIME:</b> 0 weeks</span>   
                    <span style="display:block"><b>FINISHES:</b> doug fir/steel base grey wash wax</span>
                    <span style="display:block"><b>DESCRIPTION:</b> ENTRY?</span>                                                  
                </td>
                <td valign="top" style="text-align:left;"> 
                    <span style="display:block"><b>QTY:</b> 0 weeks</span>  
                    <span style="display:block"><b>EXT DESIGNER PRICE:</b> $0.00</span> 
                </td>
            </tr>
		</table>
		<table cellpadding="10" cellspacing="0" style="font-family: 'Lato', sans-serif;font-size:12px;width:100%;table-layout:fixed;margin-top:20px">
            <tr>
				<td valign="top">
					
				</td>
				<td valign="top" style="text-align:left">
                    <table cellpadding="10" cellspacing="0" style="background:#eee;padding:25px;width:300px">
						<tr>
							<td style="text-align:right"><b>SUB TOTAL:</b></td><td>$0.00</td>
						</tr>
						<tr>
							<td style="text-align:right"><b>SHIPPING:</b></td><td>$0.00</td>
						</tr>
						<tr>
							<td style="text-align:right"><b>SALES TAX:</b></td><td>$0.00</td>
						</tr>
						<tr>
							<td colspan="2" style="border-top:1px solid #ccc"></td>
						</tr>
						<tr>
							<td style="text-align:right"><b>TOTAL:</b></td><td>$0.00</td>
						</tr>
					</table>	
                </td>
            </tr>
		</table>
	</body>
</html>